<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Pintando</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactame</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<!---------------------------------------------------------------------------------->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="http://www.laprensalibre.cr/files/noticias/images/detail/1197517449_1.jpg" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="https://www.65ymas.com/uploads/s1/65/34/7/bigstock-man-kneeling-on-a-parquet-floo-281032585.jpeg" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/photos/painter-with-paintbrush-painting-house-wood-facade-picture-id855082606?k=6&m=855082606&s=612x612&w=0&h=SS0KxD6BskjyQSKA_s8-a9k2pS_40MweZdu93Qrw3AA=" class="d-block w-100" >
      </div>
    </div>
  </div>


<router-outlet></router-outlet>

